@import './_calendar/calendar.scss'; 
@import './list-of-options/list-of-options.scss';

.dropdown-js__inviseble {
    display: none;
}

.dropdown-js {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 2.6rem;
    min-width: 9.17rem;
    background-color: white;
    
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.04em;
}

.dropdown-js > .dropdown-button > p {
    padding-left: 0.9rem;
    margin: 0px;
    font-size: 14px;
    letter-spacing: 0.00rem;
    line-height: 2.6rem;
}

.border-for-dropdown {
    @include border-input-default;
}

.border-for-dropdown.border-for-dropdown_active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.border-for-dropdown_default {
    @include border-input-default;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.border-for-dropdown_active {
    border-color: $dark-shade-50;
}

.dropdown-js__arrow {
    border: solid $dark-shade-50;
    border-width: 0 2px 2px 0;
    display: inline-block;
    float: right;
    padding: 0.21rem;
    margin: 0.9rem 1.12rem 0rem 0rem;
}

i.dropdown-js__inviseble {
    display: none;
}

.dropdown-js__arrow_down {
    transform: rotate(45deg);   
}

.dropdown-js__arrow_up {
    margin: 1.1rem 1.12rem;
    transform: rotate(225deg);
}


