@import '../../styles/font.scss';
@import '../../styles/variables.scss';

.border-for-dropdown {
  @include border-input-default;
}

.border-for-dropdown_default {
  @include border-input-default;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.border-for-dropdown_default.border-for-dropdown_active,
.border-for-dropdown.border-for-dropdown_active {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.border-for-dropdown_active {
  border-color: $dark-shade-50;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 2.6875rem;
  min-width: 9.375rem;
  background-color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.04em;

  &__arrow {
    border: solid $dark-shade-50;
    border-width: 0 0.125rem 0.125rem 0;
    display: inline-block;
    float: right;
    padding: 0.1875rem;
    margin: 1rem 1.0625rem 0rem 0rem;
  }

  &__arrow_down {
    transform: rotate(45deg);   
  }

  &__arrow_up {
    margin: 1.125rem 1.125rem;
    transform: rotate(225deg);
  }

  &__text-placeholder {
    padding-left: 0.875rem;
    margin: 0px;
    font-size: 14px;
    letter-spacing: 0.00rem;
    line-height: 2.625rem;
  }
}

.js-dropdown__invisible {
  display: none;
}


