

@import '../../../components/header/header.scss';
@import '../../../components/registration/registration.scss';
@import '../../../components/footer/footer.scss';

body {
  margin: 0.95rem 0rem 0rem;
}

html,
body,
main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

@media (max-width: 1300px) {
  header.container {
    padding: 0rem 2rem 0rem 2rem;
    box-sizing: border-box;
  }
}

@media (max-width: 1000px) {
    header.container {
      padding: 1rem 2rem 0rem;
      box-sizing: border-box;
    }
}

@media (max-width: 760px) {
  header.container {
    padding: 1rem 2rem;
    box-sizing: border-box;
  }
}

main {
  flex: 1 0 auto;
  margin-top: 0.7rem;
  background-image: url(./images/registration-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
  padding-left: 0;
}

main .container {
  display: flex;
  justify-content: center;
}

main .container::before {
  display: block;
  content: " ";
  width: 0.35rem;
  height: 0.5rem;
}

.registration__inner  {
  margin-top: 1.15rem;
  margin-bottom: 1.15rem;
}

footer {
  flex: 0 0 auto;
  padding-top: 6.6875rem;
}