mixin pagination()
  .pagination
    .pagination__number-pages 
      .pagination__button-prev.pagination__invis-element
        .pagination__arrow-next arrow_back
      .pagintation__first-page.pagination__invis-element 1
      .pagination__three-point.pagination__invis-element ...
      .pagination__page.pagination__hover-page 1
      .pagination__page 2
      .pagination__page 3
      .pagination__three-point ...
      .pagintation__last-page 15
      .pagination__button-next
        .pagination__arrow-next arrow_forward
    .pagination__bottom-text
      span.pagination__count-from-to 1 - 12
      |
      | из
      |
      span.pagination__all-count 100+
      |
      | вариантов аренды