.container-button {
  position: relative;
}

.container-button:hover .button{
  opacity: 0.5;  
}

button.button_white {
  display: flex;
  justify-content: center;
  align-items: center;    
  padding: 0rem;
}

.button__content {
  width: 5.9rem;
  height: 2.45rem;
  border-radius: 1.5rem;
  background: white;
  line-height: 2.4rem;
  color: $purple;
}

