.burger-menu {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  z-index: 1;
    
  &__checkbox {
    display: none;

    &:checked ~ .burger-menu__navigation {
        display: flex;
        right: -1rem;
    }

    &:checked ~ .burger-menu__button-line:nth-child(1) {
        transform: rotate(45deg);
        top: 0.45rem;
    }

    &:checked ~ .burger-menu__button-line:nth-child(2) {
        opacity: 0;
    }

    &:checked ~ .burger-menu__button-line:nth-child(3) {
        transform: rotate(-45deg);
        top: -0.55rem;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    cursor: pointer;
    z-index: 1;
  }

  &__button-line {
    display: block;
    width: 1.5rem;
    height: 0.2rem;
    border-radius: 0.5rem;
    background: white;
    margin: 0.15rem 0;
    position: relative;
    transition: all .2s;
  }

  &__navigation {
    position: absolute;
    top: 0;
    right: -200rem;
    width: 15rem;
    background: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 3rem 3rem 3rem;
    transition: right .4s;
    border-bottom-left-radius: 5rem;
  }

  &__navigation-link {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2rem;
    color: $dark-shade-50;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 1rem;
    padding: 0.2rem 0.5rem;
    transition: all .2s linear;
  }

  &__sing-in {
    margin-bottom: 1rem;
  }

  &____nick-name {
    text-align: right;
    color: $dark-shade-75;
  }
}