include ../calendar/calendar.pug
mixin dropdown-date()
  .dropdown-js
    #dropdownDate.dropdown-button
      i.dropdown-js__arrow.dropdown-js__arrow_down
      i.dropdown-js__arrow.dropdown-js__arrow_up.dropdown-js__inviseble
      p.uppercase ДД.ММ.ГГ
    ul.dropdown-js__inviseble.dropdown-js__list-of-options
      +calendar()