.checkbox_rich__text {
  display: flex;
  flex-flow: column nowrap;
}

.checkbox_header {
  font-size: 14px;
  font-weight: 700;
  color: $dark-shade-75;
}
.checkbox_description {
  margin-top: 0.3125rem;
  font-size: 12px;
  color: $dark-shade-50;
}