mixin rate-button(count_checked)
  - let countChecked = count_checked
  .container-rate 
    - for (let i = 0; i < countChecked; i++)
      .material-icons star
    - for (let i = 0; i < (5 - countChecked); i++)
      .material-icons star
        .material-icons.star-unchecked star
      