mixin rate-button(count_checked)
  - let countChecked = (count_checked) ? count_checked : 1;
  
  .rate 
    - for (let i = 0; i < countChecked; i++)
      .rate__star star
    - for (let i = 0; i < (5 - countChecked); i++)
      .rate__star.rate__star-inner star
        .rate__star.rate__star_unchecked star
      