extends ../../../index.pug

include ../../../components/header-for-ui-kit/header-for-ui-kit.pug
include ../../../components/text-field/text-field.pug
include ../../../components/list-of-options/list-of-options.pug
include ../../../components/calendar/calendar.pug
include ../../../components/checkbox-list/checkbox-list.pug
include ../../../components/benefits/benefits.pug
include ../../../components/radio-button/radio-button.pug
include ../../../components/toggle/toggle.pug
include ../../../components/like/like.pug
include ../../../components/rate-button/rate-button.pug
include ../../../components/range-slider/range-slider.pug
include ../../../components/button/button.pug
include ../../../components/pagination/pagination.pug
include ../../../components/bullet-list/bullet-list.pug
include ../../../components/revew/revew.pug

block variables 
  -
    const keywords_and_description = {
        keywords: 'Toxin, UI-kit',
        description: 'Toxin - Лучшие номера для вашей работы, отдыха и просто вдохновения. UI-kit - набор компонентов.'
    }

block title
  title Form elements 
block content  
  +header-for-ui-kit()
  .content-form-elements 
    .content-form-elements__column
      .form-element
        .element-text-field__text
          h3 text field
          h3 default
        +text-field({class: 'text-field_default', placeholder:'Email'})
      .form-element
        .element-text-field__text
          h3 text field
          h3 hover /focus
        +text-field({class: 'text-field_focus', placeholder:'This is pretty awesome'})
      .form-element 
        .name-element
          h3 dropdown 
        +list-of-options_with-buttons(['list-of-options_with-buttons', 0, 0, 0, 'Сколько гостей'])
      .form-element 
        .name-element
          h3 masked text field
        +text-field({class: 'text-field_default', placeholder: 'ДД.ММ.ГГ'})
      .form-element.form-element_two-dropdown
        +date-range(['ДД.ММ.ГГГГ',  '19.08.2019', 'true'])
      .small-form-element 
        .form-element 
          .name-element
            h3 filter date dropdown
          +date-filter(['19 авг - 23 авг'])
        .form-element 
          .name-element 
            h3 subscription text field
          .element-text-field
            +text-field({class: 'text-field_subscription', placeholder:'Email'})
        .empty-space
        
    .content-form-elements__column
      .form-element
        .name-element
            h3 Checkbox Buttons
        .checkbox-buttons
          +checkbox(['Можно курить', 'unchecked', 'smoking'])
          +checkbox(['Можно с питомцами', 'checked', 'pet'])
          +checkbox(['Можно пригласить гостей (до 10 человек)', 'checked', 'guests'])
      .form-element
        .name-element
          h3 radio Buttons
        .radio-buttons
          +radio-button(['Мужчина', 'gender', 'checked']) 
          +radio-button(['Женщина', 'gender'])  
      .form-element
        .name-element
          h3 Toggle
        .toggles
          +toggle(['Получать спецпредложения', 'subscription', 'checked'])
          +toggle(['Получать спецпредложения', 'subscription'])
      .form-element.form-element__like-buttons 
        .name-element
          h3 like button
        .like-buttons 
          +like-button([2])
          +like-button([12, 'active'])
      .form-element.form-element__rate-button
        .name-element
          h3 rate button
        .rate-button
          +rate-button(4)
          +rate-button(5)
    .content-form-elements__column
      +range-slider()
      .form-element 
        .name-element 
          h3 Buttons
        .four-small-buttons 
          +button(['standart', 'CLICK ME'])
          +button(['standart', 'CLICK ME'])
          +button(['white', 'CLICK ME'])
          +button(['white', 'CLICK ME'])
        .two-buttons-without-border
          +button(['without-border', 'CLICK ME'])
          +button(['without-border', 'CLICK ME'])
        +button(['big', 'перейти к оплате'])
      .form-element 
        .name-element 
          h3 pagination
        +pagination()
    .content-form-elements__column      
      .small-form-element 
        .form-element_dropdown-default 
          .name-element
            h3 dropdown 
            h3 default
          +list-of-options(['list-of-options', 2, 2, 0, '2 спальни, 2 кровати...'])
        .form-element_dropdown-default-open 
          .name-element
            h3 dropdown 
            h3 expanded
          +list-of-options(['list-of-options', 2, 2, 0, '2 спальни, 2 кровати'])
        .form-element_checkbox-list
          +checkbox-list(['expandable checkbox list'])
        .form-element_checkbox-list-open
          +checkbox-list(['expandable checkbox list'])
        .form-element_benefit-comfort
          +benefit-comfort()
        .form-element 
          +benefit-conveniences()  
    .content-form-elements__two-columns
      .content-form-elements__column 
        .two-columns__dropdown-first
          .name-element
            h3 dropdown 
          +list-of-options_with-buttons(['list-of-options_with-buttons', 0, 0, 0, 'Сколько гостей'])
        .form-element_rich-checkboxes 
          .name-element 
            h3 rich Checkbox Buttons
          .rich-checkboxes
            +rich-checkbox(['Широкий коридор', 'Ширина коридоров в номере не менее 91 см.', 'unchecked', 'max-width'])
            +rich-checkbox(['Помощник для инвалидов', 'На 1 этаже вас встретит специалист  и проводит до номера.', 'unchecked', 'support for invalids'])

      .content-form-elements__column 
        .two-columns__dropdown-last
          .name-element
            h3 dropdown 
          +list-of-options(['list-of-options', 0, 0, 0, '3 гостя'])
        .form-element_bullet-list
          .name-element 
            h3 bullet list
          +bullet-list('Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00')
      .content-form-element__revew
        +revew()
