extends ../../../index.pug

include ../../../components/header-for-ui-kit/header-for-ui-kit.pug
include ../../../components/text-field/text-field.pug
include ../../../components/dropdown/dropdown.pug

block variables 
  -
    const keywords_and_description = {
        keywords: 'Toxin, UI-kit',
        description: 'Toxin - Лучшие номера для вашей работы, отдыха и просто вдохновения. UI-kit - набор компонентов.'
    }

block title
  title Form elements 
block content  
  +header-for-ui-kit()
  .content-form-elements 
    .content-form-elements__column
      .form-element
        .element-text-field__text
          h3 text field
          h3 default
        +text-field({class: 'text-field_default', placeholder:'Email'})
      .form-element
        .element-text-field__text
          h3 text field
          h3 hover /focus
        +text-field({class: 'text-field_focus', placeholder:'This is pretty awesome'})
      .form-element 
        .name-element
          h3 dropdown 
        +dropdown-js('list-of-options')
      .form-element
        .name-element
          h3 date dropdown
        +dropdown-js('calendar')
    .content-form-elements__column
    .content-form-elements__column