@import '../../../components/header-for-ui-kit/header-for-ui-kit.scss';
@import '../../../components/text-field/text-field.scss';
@import '../../../components/dropdown/dropdown.scss';

.content-form-elements {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  margin: 2.2rem 0px 0px 8.3rem;
}

.content-form-elements__column {
  width: 320px;
}

.form-element{
  margin-bottom: 1.2rem;
}

.content-form-elements .content-form-elements__column > :nth-child(3) {
  margin-bottom: 1.5rem;
}

.content-form-elements .content-form-elements__column > :nth-child(4) {
  margin-bottom: 2.5rem;
}

.content-form-elements .content-form-elements__column > :nth-child(5) {
  margin-bottom: 2.6rem;
}

.form-element_two-dropdown {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.element-text-field__text {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 0.3rem;
  :first-child {
    margin-top: 0.2rem;
  }
  :last-child {
    color: $dark-shade-50;
    font-weight: 400;
  }
}

.content-form-elements__column > :nth-child(2) h3{
  margin-top: 0.13rem;
}

// только для этой страницы чтобы
// у инпута всегда был стиль как у :focus
.text-field_focus {
  border-color: $dark-shade-50;
}

.text-field_focus::placeholder {
  color: $dark-shade-75;
  font-size: 0.85rem;
  font-family: 'Montserrat';
}

.name-element {
  margin-bottom: 0.3rem;
}

.small-form-element {
  width: 16.7rem;
}

.small-form-element .form-element{
  margin-bottom: 2.6rem;
  margin-right: 0.05rem;
}