

@import '../../../components/header-for-ui-kit/header-for-ui-kit.scss';
@import '../../../components/text-field/text-field.scss';
//@import '../../../components/calendar/calendar.scss';
@import '../../../components/list-of-options/list-of-options.scss';
@import '../../../components/checkbox-list/checkbox-list.scss';
@import '../../../components/benefits/benefits.scss';
@import '../../../components/checkbox/checkbox.scss';
@import '../../../components/radio-button/radio-button.scss';
@import '../../../components/toggle/toggle.scss';
@import '../../../components/like/like.scss';
@import '../../../components/rate-button/rate-button.scss';
@import '../../../components/range-slider/range-slider.scss';
@import '../../../components/button/button.scss';
@import '../../../components/pagination/pagination.scss';
@import '../../../components/bullet-list/bullet-list.scss';
@import '../../../components/review/review.scss';

.content-form-elements {
  max-width: 1212px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin: 2.25rem 0px 0px 8.3125rem;
}

.content-form-elements__column {
  width: 320px;
}

.container-text-field{
  margin-bottom: 1.25rem;
}

.container-text-field__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.3125rem;
}

.container-text-field__title :nth-child(1) {
  margin-top: 0.125rem;
}

.container-text-field_hovered {
  margin-bottom: 1.1875rem;
}

// только для этой страницы чтобы
// у инпута всегда был стиль как у :focus
.container-text-field_hovered .text-field_focus {
  border-color: $dark-shade-50;
}

.container-text-field_hovered .text-field::placeholder {
  color: $dark-shade-75;
  font-size: 0.8125rem;
  font-family: 'Montserrat';
}

.container-dropdown__title {
  margin-bottom: 0.25rem;
}

.container-masked-text-field {
  margin-top: 1.4375rem;
}

.container-masked-text-field__title {
  margin-bottom: 0.3125rem;
}

.container-date-range {
  margin-top: 2.5rem;
}

.small-form-element {
  width: 16.6875rem;
  .name-element {
    display: flex;
    justify-content: space-between;
    :last-child {
      color: $dark-shade-50;
    }
  }
}

.container-date-dropdown {
  margin-top: 2.5625rem;
  margin-right: 0.0625rem;
}

.container-date-dropdown__title {
  margin-bottom: 0.3125rem;
}

.container-subscription-text-field {
  margin-top: 2.5625rem;
}

.container-subscription-text-field__title {
  margin-bottom: 0.3125rem;
}

.empty-space {
  content: " ";
  margin: 6.3125rem 0rem;
}

.content-form-elements > :nth-child(2) {
  padding-top: 0.1875rem;
  width: 264px;
}

.checkbox-buttons {
  margin-top: 1.125rem;
}

.checkbox-buttons > :nth-child(3) {
  max-width: 13rem;
}

.container-radio-buttons {
  margin-top: 2.5rem;
}

.container-radio-buttons__title {
  margin-bottom: 0.875rem;
}

.radio-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 13.5rem;
  padding-left: 0.0625rem;
}

.container-toggles {
  margin-top: 2.75rem;
}

.container-toggles__title {
  margin-bottom: 1rem;
}

.container-toggles__inner {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 0.0625rem;
  margin-bottom: 1.8125rem;
  .switcher {
    margin-bottom: 0.8125rem;
  }
}

.container-like-buttons {
  margin-top: 2rem;
}

.container-like-buttons__title {
  margin-left: 0rem;
  margin-right: 0.625rem;
}

.container-like-buttons__inner {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 0.0rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.container-like-buttons__left-buttons {
  margin-right: 0.5625rem;
}

.container-rate-button {
  margin-bottom: 1rem;
}

.container-rate-button__inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 16.185rem;
  margin-top: 1.0rem;
}

.content-form-elements > :nth-child(3) {
  margin-right: 3.375rem;
  padding-top: 0.125rem;
}

.container-range-slider {
  width: 83%;
  margin-bottom: 3.125rem;
}

.container-buttons__title  {
  margin-bottom: 1.0625rem;
  margin-left: 0.0625rem;
}

.four-small-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 13.5rem;
  height: 7.3125rem;
  margin-bottom: 2rem;
}

.two-buttons-without-border {
  width: 8.8125rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.8125rem;
}

.container-pagination {
  margin-top: 2.5rem;
  margin-left: 0.0625rem;
  width: 15rem;
}

.container-pagination__title {
  margin-bottom: 1rem;
}

.container-dropdown-default   {
  margin-bottom: 1.185rem;
  margin-right: 0.0625rem;
}

.container-dropdown-default__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.25rem;
}

.container-dropdown-default-open {
  margin-bottom: 2.0625rem;
}

.container-dropdown-default-open__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.3125rem;
}

.container-checkbox-list {
  margin-top: 10.75rem;
}

.container-checkbox-list-open {
  margin-top: 1.25rem;
}

.container-benefit-comfort {
  margin-top: 2.0rem;
}

.container-benefit-conveniences {
  margin-top: 2.625rem;
  width: 15.125rem;
}

.content-form-elements__two-columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-right: 3.3125rem;
  flex-basis: 59%;
}

.container-dropdown-first {
  margin-left: 0.185rem;
}

.container-dropdown-first__title {
  margin-bottom: 0.25rem;
}

.container-checkbox_riches {
  margin-top: 16rem;
  margin-left: 0.185rem;
  width: 16rem;
  .checkbox_riches {
    margin-top: 1.0rem;
    > :first-child {
      width: 13rem;
      margin-bottom: 0.5625rem;
    }
  }
}

.container-dropdown-last__title {
  margin-bottom: 0.25rem;
}

.container-bullet-list {
  margin-top: 16rem;
  width: 16rem;
}

.content-form-element__review {
  margin-top: 13.8125rem;
  margin-left: 0.185rem;
  width: 710px;
}
