extends ../../../index.pug

include ../../../components/header-for-ui-kit/header-for-ui-kit.pug
include ../../../components/text-field/text-field.pug
include ../../../components/dropdown/dropdown.pug
include ../../../components/checkbox-list/checkbox-list.pug
include ../../../components/benefits/benefits.pug
include ../../../components/radio-button/radio-button.pug
include ../../../components/toggle/toggle.pug
include ../../../components/like/like.pug
include ../../../components/rate-button/rate-button.pug
include ../../../components/range-slider/range-slider.pug


block variables 
  -
    const keywords_and_description = {
        keywords: 'Toxin, UI-kit',
        description: 'Toxin - Лучшие номера для вашей работы, отдыха и просто вдохновения. UI-kit - набор компонентов.'
    }

block title
  title Form elements 
block content  
  +header-for-ui-kit()
  .content-form-elements 
    .content-form-elements__column
      .form-element
        .element-text-field__text
          h3 text field
          h3 default
        +text-field({class: 'text-field_default', placeholder:'Email'})
      .form-element
        .element-text-field__text
          h3 text field
          h3 hover /focus
        +text-field({class: 'text-field_focus', placeholder:'This is pretty awesome'})
      .form-element 
        .name-element
          h3 dropdown 
        +dropdown-js(['list-of-options', 0, 0, 0, 'Сколько гостей'])
      .form-element 
        .name-element
          h3 masked text field
        +text-field({class: 'text-field_default', placeholder: 'ДД.ММ.ГГ'})
      .form-element.form-element_two-dropdown
        .mini-dropdown
          .name-element
            h3 date dropdown
          +dropdown-js(['calendar', 0, 0, 0, 'ДД.ММ.ГГГГ'])
        .mini-dropdown
          .name-element
            h3 date dropdown
          +dropdown-js(['calendar', 0, 0, 0, '19.08.2019'])
      .small-form-element 
        .form-element 
          .name-element
            h3 filter date dropdown
          +dropdown-js(['filter-date', 0, 0, 0, '19 авг - 23 авг'])
        .form-element 
          .name-element 
            h3 subscription text field
          +text-field({class: 'text-field_subscription', placeholder:'Email'})
        .empty-space
        .form-element 
          .name-element
            h3 dropdown 
            h3 default
          +dropdown-js(['list-of-options_default', 2, 2, 0, '2 спальни, 2 кровати...'])
        .form-element 
          .name-element
            h3 dropdown 
            h3 expanded
          +dropdown-js(['list-of-options_default', 2, 2, 0, '2 спальни, 2 кровати'])
        .form-element
          +checkbox-list(['expandable checkbox list'])
        .form-element
          +checkbox-list(['expandable checkbox list'])
        .form-element 
          +benefit-comfort()
        .form-element 
          +benefit-conveniences()
    .content-form-elements__column
      .form-element
        .name-element
            h3 Checkbox Buttons
        .checkbox-buttons
          +checkbox(['Можно курить', 'unchecked', 'smoking'])
          +checkbox(['Можно с питомцами', 'checked', 'pet'])
          +checkbox(['Можно пригласить гостей (до 10 человек)', 'checked', 'guests'])
      .form-element
        .name-element
          h3 radio Buttons
        .radio-buttons
          +radio-button(['Мужчина', 'gender', 'checked']) 
          +radio-button(['Женщина', 'gender'])  
      .form-element
        .name-element
          h3 Toggle
        .toggles
          +toggle(['Получать спецпредложения', 'subscription', 'checked'])
          +toggle(['Получать спецпредложения', 'subscription'])
      .form-element
        .name-element
          h3 like button
        .like-buttons 
          +like-button([2])
          +like-button([12, 'active'])
      .form-element
        .name-element
          h3 rate button
        .rate-button
          +rate-button(4)
          +rate-button(5)
      .form-element 
        .name-element
          h3 dropdown 
        +dropdown-js(['list-of-options', 0, 0, 0, 'Сколько гостей'])
      .form-element 
        .name-element 
          h3 rich Checkbox Buttons
        .rich-checkboxes
          +rich-checkbox(['Широкий коридор', 'Ширина коридоров в номере не менее 91 см.', 'unchecked', 'max-width'])
          +rich-checkbox(['Помощник для инвалидов', 'На 1 этаже вас встретит специалист  и проводит до номера.', 'unchecked', 'support for invalids'])
    .content-form-elements__column
       +range-slider()