@import '../like/like.scss';

.review {
  display: flex;
  flex-flow: row nowrap;
  font-family: $mainFont;
}

@media (max-width: 750px) {
  .review {
    padding: 0rem 0.0rem 0rem 0.5rem;
  }
}

.review__left-part {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
}

.review__avatar-reviewer {
  width: 3rem;
  height: 3rem;
}

.review__like-button {
  margin-top: 0.5625rem;
  margin-left: 0.25rem;
}

.review__right-part  {
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  margin-left: 0.625rem;
}

.review__name-reviewer {
  font-weight: 700;
  text-align: left; 
  margin-bottom: 0.4375rem; 
  letter-spacing: 0.01rem;
}

.review__last-update {
  text-align: left;
  margin-bottom: 0.75rem; 
}

.review__review-body {
  text-align: left;
  line-height: 1.5rem;
}




