include ./_white/white.pug
include ./_big/big
include ./_without-border/without-border
include ./_header-white/header-white
include ./_header-standard/header-standard

mixin button([variant_button, text_button])
  - var variantButton = (variant_button) ? variant_button : "standard";
  - var textButton = (text_button) ? text_button : "Button";

  if variantButton == 'standard'
    button.button=textButton
  else if variantButton == 'header-standard'
    +button-header-standard(textButton)
  else if variantButton == 'white'
    +button-white(textButton)
  else if variantButton == 'header-white'
    +button-header-white(textButton)
  else if variantButton == 'without-border'
    +button-without-border(textButton)
  else if variantButton == 'big'
    +button-big(textButton)