@import '../../styles/font.scss';
@import '../../styles/variables.scss';

@import './_big/big.scss';
@import './_white/while.scss';
@import './_without-border/without-border.scss';
@import './_header-white/header-white.scss';
@import './_header-standard/header-standard.scss';

.button {
  width: 6.1875rem;
  height: 2.75rem;
  border: none;
  border-radius: 1.8125rem;
  font-family: $mainFont;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}




