include ../dropdown/dropdown.pug

mixin add-del-buttons([quantity])
  .quantity
    svg.quantity__button.js-quantity__button.quantity__button-minus.js-quantity__button-minus(viewBox="0 0 40 40")
      line(x1="16" y1="21" x2="24" y2="21")
    input.quantity__input.js-quantity__input(type="text" value=quantity size="2" data-max-count="20") 
    svg.quantity__button.js-quantity__button.quantity__button-plus.js-quantity__button-plus(viewBox="0 0 40 40")
      line(x1="20" y1="13" x2="20" y2="25")
      line(x1="14" y1="19" x2="26" y2="19")

mixin list-of-options([content, quantity_bedrooms, quantity_beds, quantity_bathrooms, text_placeholder])
  - var typeList = (content === "list-of-options_with-buttons") ? "list-of-options list-of-options_with-buttons js-list-of-options_with-buttons" : "list-of-options js-list-of-options";
  - var titleRow = (content === "list-of-options_with-buttons") ? {row1: "Взрослые", row2: "Дети", row3: "Младенцы"} : {row1: "спальни", row2: "кровати", row3: "ванные комнаты"};
  - var placeholder = text_placeholder || "dropdown";

  +dropdown([typeList, placeholder])
    ul(class= typeList)
      li.list-of-options__item.js-list-of-options__item
        p.list-of-options__title-item= titleRow.row1 
        +add-del-buttons([quantity_bedrooms])
      li.list-of-options__item.js-list-of-options__item
        p.list-of-options__title-item= titleRow.row2
        +add-del-buttons([quantity_beds])
      li.list-of-options__item.js-list-of-options__item
        p.list-of-options__title-item= titleRow.row3
        +add-del-buttons([quantity_bathrooms])
      if content === "list-of-options_with-buttons"
        li.list-of-options__bottom
          .list-of-options__bottom-button.js-list-of-options__bottom-button
            .list-of-options__button_clear.js-list-of-options__button_clear
              p.list-of-options__text-button очистить
            .list-of-options__button_apply.js-list-of-options__button_apply
              p.list-of-options__text-button применить
        
      
    