@import '../dropdown/dropdown.scss';
@import './_with-buttons/list-of-options_with-buttons.scss';

.list-of-options {
  position: absolute;
  z-index: 3;
  background-color: white;
  width: 100%;
  list-style: none;
  margin-top: 0;
  padding: 0.15rem 0.0rem 0.42rem 0rem;
  outline: 1px solid $dark-shade-50;
  outline-offset: -1px;
  border-top: none;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.list-of-options__item {
  padding-right: 0.4rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.list-of-options__title-item {
  font-family: $mainFont;
  font-weight: 700;
  line-height: 2.3rem;
  padding-left: 0.9rem;
  margin: 0px;
  font-size: 13px;
  letter-spacing: -0.05rem;
  text-transform: uppercase;
}
   
.quantity {
  display: flex;
  justify-content: center;
}  

.quantity__button-minus,
.quantity__button-plus,
.quantity__input {
  color: $dark-shade-50;
  height: 1.75rem;
  width: 1.75rem;
  padding: 0;
  margin: 0.2rem 0rem 0rem 0rem;
  border-radius: 50%;
  border: 1px solid $dark-shade-25;
  cursor: pointer;
  outline: 0;
}

.quantity__button-minus,
.quantity__button-plus {
  stroke: $dark-shade-50;
  stroke-width: 1.5px;
  transition: 0.5s;
}

.quantity__input {
  width: 1.2rem;
  margin: 0.25rem 0.4rem 0rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: $mainFont;
  color: $dark-shade-100;
  border: none;
}
