mixin dropdown-js__quantity(quantity)
  .dropdown-js__quantity
    button.quantity__button.quantity__button-minus
      svg(viewBox='0 0 20 20')
        line(x1='8' y1='10' x2='12' y2='10')
    input.quantity(type='text' value=quantity size='2' data-max-count='20')
    button.quantity__button.quantity__button-plus
      svg(viewBox='0 0 20 20')
        line(x1='10' y1='5' x2='10' y2='13')
        line(x1='6' y1='9' x2='14' y2='9')

mixin list-of-options_default()
  ul.dropdown-js__list-of-options.dropdown-js__inviseble
    li.dropdown-js__item-dropdown
      p.uppercase спальни
      +dropdown-js__quantity('2')
    li.dropdown-js__item-dropdown
      p.uppercase кровати
      +dropdown-js__quantity('2')
    li.dropdown-js__item-dropdown
      p.uppercase ванные комнаты
      +dropdown-js__quantity('0')

mixin list-of-options(count_button)
  ul.dropdown-js__list-of-options.dropdown-js__inviseble
    li.dropdown-js__item-dropdown
      p.uppercase Взрослые
      +dropdown-js__quantity('1')
    li.dropdown-js__item-dropdown
      p.uppercase Дети
      +dropdown-js__quantity('1')
    li.dropdown-js__item-dropdown
      p.uppercase Младенцы
      +dropdown-js__quantity('1')
    li.dropdown-js__bottom-button.dropdown-js__two-button
      button
        p.uppercase очистить
      button
        p.uppercase применить
    