.container-button {
  position: relative;
}
  
.container-button:hover .button{
  opacity: 0.5;  
}
  
.button.button_header-white  {
  display: flex;
  justify-content: center;
  align-items: center;    
  padding: 0rem;
  width: 5.4375rem;
  height: 2.125rem;
}
  
.button_header-white__text {
  width: 5.1875rem;
  height: 1.875rem;
  border-radius: 1.5rem;
  background: white;
  line-height: 1.875rem;
  color: $purple;
  text-align: center;
}

  
  