include ../dropdown/dropdown.pug
include ../button/button.pug

mixin rooms-search()
  .container-rooms-search 
    h1 Найдём номера под ваши пожелания
    .rooms-search__in-out 
      .rooms-search__checkin
        h3 прибытие 
        +dropdown-js(['calendar', quantity_adults, quantity_child, quantity_baby, 'ДД.ММ.ГГГГ'])
      .rooms-search__checkout
        h3 выезд
        +dropdown-js(['calendar', quantity_adults, quantity_child, quantity_baby, 'ДД.ММ.ГГГГ'])
    .rooms-search__guests
      h3 гости
      +dropdown-js(['list-of-options', 'взрослые', 'дети', 'младенцы', 'Сколько гостей'])
    .rooms-search__button-search
      +button(['big', 'подобрать номер'])
