@import '../calendar/calendar.scss';
@import '../list-of-options/list-of-options.scss';

.rooms-search {
  padding: 2.375rem 1.875rem 1.875rem 1.8125rem;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.29);
  border-radius: 4px;
  background-color: white;
}

.rooms-search__in-out {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 1.3125rem;
  padding-top: 1.385rem;
}

.rooms-search__guests {
  margin-bottom: 1.9375rem;
}

.rooms-search__title-guests {
  margin-bottom: 0.3125rem;
}