@import '../../../styles/font.scss';
@import '../../../styles/variables.scss';
@import '../../../components/header/header.scss';
@import '../../../components/benefits/benefits.scss';
@import '../../../components/revew/revew.scss';
@import '../../../components/bullet-list/bullet-list.scss';
@import '../../../components/reservation/reservation.scss';
@import '../../../components/footer/footer.scss';

html, body {
  min-height: 100%;
  height: 100%;
  margin: 0rem;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
  padding-left: 0;
}

header.container {
  margin-top: 0.95rem;
}

@media (max-width: 1300px) {
    .container {
      padding: 0rem 2rem;
    }
  }
  
@media (max-width: 760px) {
    .container {
      padding: 0rem ;
    }
}

main { 
  flex: 1 0 auto;
  margin-top: 0.7rem;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.room-photo {
  display: flex;
  width: 100%;
}

.room-photo__main-photo {
  width: 68.1%;
  height: auto;
}

.room-photo__additional-photo {
  display: flex;
  flex-flow: column;
  width: 31.9%;
  height: auto;
  img {
    width: 100%;
    height: 50%;
  }
}

section.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 3.9rem;
}

.room-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 0.3rem;
  max-width: 44.5rem;
}

.information-about-room {
  flex-basis: 35%;
  display: flex;
  flex-flow: column nowrap;
  h2 {
    margin-bottom: 1.4rem;
  }
}

.benefit {
  margin-left: 0.05rem;
  margin-bottom: 1.2rem;
}

.benefit.benefit_conveniences {
  margin-top: 1.15rem;
}

.benefit_whatshot {
  margin-top: 1.1rem;
}

.delimiter {
  display: block;
  content: " ";
  width: 100%;
  height: 0.15rem;
  background-color: $dark-shade-10;
}

article.room-impressions {
  flex-basis: 51.5%;
  h2 {
    margin-left: 1rem;
  }
}






figure {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: min-content;
    height: min-content;
    margin: 0.45rem 0rem;
  }
  .chart-text {
    /*font: 16px/1.4em "Montserrat", Arial, sans-serif;*/
    fill: $purple;
    -moz-transform: translateY(0.25em);
    -ms-transform: translateY(0.25em);
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.15em);
  }
  .chart-text__number {
    margin-bottom: 0.2rem;
    font-size: 0.45rem;
    font-weight: 700;
    text-anchor: middle;
    -moz-transform: translateY(-0.25em);
    -ms-transform: translateY(-0.25em);
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.35em);
  }
  .chart-text__label {
    font-size: 0.2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-anchor: middle;
    -moz-transform: translateY(0.7em);
    -ms-transform: translateY(0.7em);
    -webkit-transform: translateY(0.7em);
    transform: translateY(0.8em);
  }

  
  .figure-content {
    width: 9.5rem;
    height: 9.5rem;
    padding: 0rem; 
  }
  
.figure-key {
  align-self: flex-end;
  margin-left: 0.8rem;
  padding-bottom: 1.0rem;
}
  
  .figure-content svg {
    height: auto;
  }
  .figure-key {
    min-width: calc(8 / 12);
  }
  .figure-key [class*="shape-"] {
    margin-right: 0.4rem;
    margin-bottom: 0.05rem;
  }
  .figure-key__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
.figure-key__list li {
    display: flex;
    align-items: center;
  
    margin: 0.4rem 0rem 0rem;
    padding: 0;
}
.figure-key__shape-circle {
    display: inline-block;
    vertical-align: middle;
    width: 0.65rem;
    height: 0.65rem;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
  .shape-fuschia {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }
  .shape-lemon-lime {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  }
  .shape-blue {
    background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
  }
  .shape-dark {
    background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
  }
  
  
  .screenreader-only {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }







.room-revew {
  margin-top: 1rem;
}

.container-revew {
  margin-top: 1.25rem;
}

.room-rules {
  flex-basis: 37%; 
  margin-top: 1.9rem;
  h2 {
    margin-left: 1.2rem;
    margin-bottom: 1.2rem;
  }
}

.cancel-room {
  flex-basis: 48%; 
  margin-right: 0.55rem;
  margin-top: 1.9rem;
  h2 {
    margin-bottom: 1.2rem;
  }
}

.container-reservation {
  min-width: 20.15rem;
  height: fit-content;
}

footer {
    flex: 0 0 auto;
    padding-top: 9.9rem;
}