@import '../../../styles/font.scss';
@import '../../../styles/variables.scss';
@import '../../../components/header/header.scss';
@import '../../../components/benefits/benefits.scss';
@import '../../../components/revew/revew.scss';
@import '../../../components/bullet-list/bullet-list.scss';
@import '../../../components/reservation/reservation.scss';
@import '../../../components/footer/footer.scss';

html, body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  margin: 0rem;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
  padding-left: 0;
}

header.container {
  margin-top: 0.95rem;
}

@media (max-width: 1300px) {
    .container {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }
  
@media (max-width: 1000px) {
    .container {
      padding: 0rem 1rem;
    }
}

main { 
  flex: 1 0 auto;
  margin-top: 0.7rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.room-photo {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1000px) {
  .room-photo {
    flex-flow: row wrap;
  }
}

.room-photo__photo_max {
  max-width: 68.1%;
  height: auto;
}

@media (max-width: 1000px) {
  .room-photo__photo_max {
    width: 100%;
  }
}

.room-photo__additional-photo {
  display: flex;
  flex-flow: column;
  width: 31.9%;
  height: auto;
}

.room-photo__photo_min {
  width: 100%;
  height: 50%;
}

@media (max-width: 1000px) {
  .room-photo__additional-photo {
    display: none;
  }
}

section.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 3.9rem;
}

@media (max-width: 1000px) {
  section.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 2.5rem;
  }
}

.room-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 0.3rem;
  max-width: 44.5rem;
}

@media (max-width: 1200px) {
  .room-details {
    margin-right: 0.5rem;
  }
}

@media (max-width: 750px) {
  .room-details {
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
}

.information-about-room {
  flex-basis: 39%;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1px;
}

.information-about-room__title {
  margin-bottom: 1.35rem;
}

.information-about-room__comfort {
  margin-left: 0.05rem;
  margin-bottom: 1.2rem;
}

.delimiter {
  display: block;
  content: " ";
  width: 100%;
  height: 0.15rem;
  background-color: $dark-shade-10;
}

.information-about-room__conveniences {
  margin-top: 1.05rem;
  margin-bottom: 1.2rem;
}

.information-about-room__cosiness {
  margin-top: 1.0rem;
  margin-bottom: 1.35rem;
  margin-left: 0.1rem;
}

article.room-impressions {
  flex-basis: 51.5%;
}

.room-impressions__title {
  margin-left: 1rem;
}

@media (max-width: 750px) {
  article.room-impressions {
    margin-top: 2.5rem;
  }
}

.doughnut-diagramm-wrapper {
  margin-left: 1rem;
}

.doughnut-diagramm-wrapper {
  margin-left: 1rem;
}

@media (max-width: 750px) {
  .doughnut-diagramm-wrapper {
    margin-left: 0rem;
  }
}

.room-revew {
  margin-top: 0.7rem;
}

@media (max-width: 1200px) {
  .room-revew {
    margin-right: 1.5rem;
  }
}

@media (max-width: 1000px) {
  .room-revew {
    margin-top: 2.5rem;
    margin-right: 0rem;
  }
}

.room-revew__title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1.25rem;
}

.room-revew__quantity-revews {
  margin: 0.2rem 0.1rem 0.0rem 0.0rem;
  color: $dark-shade-50;
}

@media (max-width: 750px) {
  .room-revew__title {
    justify-content: center;
  }
  .room-revew__title p {
    display: none;
  }
}

.room-revew__inner {
  margin-bottom: 1.6rem;
}

.room-rules {
  flex-basis: 37%; 
  margin-top: 0.4rem;
}

.room-rules__title {
  margin-left: 1.2rem;
  margin-bottom: 1.2rem;
}

@media (max-width: 750px) {
  .room-rules {
    margin-top: 2.5rem;
  }
  .room-rules h2{
    flex-basis: 100%;
    text-align: center;
  }
}

.cancel-room {
  flex-basis: 48%; 
  margin-right: 0.55rem;
  margin-top: .4rem;
}

@media (max-width: 750px) {
  .cancel-room {
    margin-top: 2.5rem;
  }
}

.cancel-room__title {
  margin-bottom: 1.2rem;
}

@media (max-width: 750px) {
  .cancel-room__title {
    flex-basis: 100%;
    text-align: center;
  }
}

.reservation {
  height: fit-content;
  width: 20.15rem;
}

@media (max-width: 1000px) {
  .reservation {
    margin-bottom: 2.5rem;
    width: 100%;
    order: -1;
  }
}

footer {
    flex: 0 0 auto;
    padding-top: 9.9rem;
}

@media (max-width: 1000px) {
  footer.container {
    padding-top: 5rem;
  }
}

