@import '../../../styles/font.scss';
@import '../../../styles/variables.scss';
@import '../../../components/header/header.scss';
@import '../../../components/benefits/benefits.scss';
@import '../../../components/revew/revew.scss';
@import '../../../components/bullet-list/bullet-list.scss';
@import '../../../components/reservation/reservation.scss';
@import '../../../components/footer/footer.scss';

html, body {
  min-height: 100%;
  height: 100%;
  margin: 0rem;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
  padding-left: 0;
}

header.container {
  margin-top: 0.95rem;
}

@media (max-width: 1300px) {
    .container {
      padding: 0rem 2rem;
    }
  }
  
@media (max-width: 760px) {
    .container {
      padding: 0rem ;
    }
}

main { 
  flex: 1 0 auto;
  margin-top: 0.7rem;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.room-photo {
  display: flex;
  width: 100%;
}

.room-photo__main-photo {
  width: 68.1%;
  height: auto;
}

.room-photo__additional-photo {
  display: flex;
  flex-flow: column;
  width: 31.9%;
  height: auto;
  img {
    width: 100%;
    height: 50%;
  }
}

section.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 3.9rem;
}

.room-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 0.3rem;
  max-width: 44.5rem;
}

.information-about-room {
  flex-basis: 39%;
  display: flex;
  flex-flow: column nowrap;
  h2 {
    margin-bottom: 1.4rem;
  }
}

.benefit {
  margin-left: 0.05rem;
  margin-bottom: 1.2rem;
}

.benefit.benefit_conveniences {
  margin-top: 1.15rem;
}

.benefit_whatshot {
  margin-top: 1.1rem;
}

.delimiter {
  display: block;
  content: " ";
  width: 100%;
  height: 0.15rem;
  background-color: $dark-shade-10;
}

article.room-impressions {
  flex-basis: 51.5%;
  h2 {
    margin-left: 1rem;
  }
}

.doughnut-diagramm-wrapper {
  margin-left: 1rem;
}

.room-revew {
  margin-top: 0.85rem;
}

.room-revew__title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  p {
    margin: 0rem;
    color: $dark-shade-50;
  }
}

.room-revew > :nth-child(2) {
  margin-top: 1.3rem;
}

.container-revew {
  margin-top: 1.6rem;
  margin-left: 0.1rem;
  max-width: 44.3rem;
}

.room-rules {
  flex-basis: 37%; 
  margin-top: 2.0rem;
  h2 {
    margin-left: 1.2rem;
    margin-bottom: 1.2rem;
  }
}

.cancel-room {
  flex-basis: 48%; 
  margin-right: 0.55rem;
  margin-top: 2.0rem;
  h2 {
    margin-bottom: 1.2rem;
  }
}

.container-reservation {
  min-width: 20.15rem;
  height: fit-content;
}

footer {
    flex: 0 0 auto;
    padding-top: 9.9rem;
}