extends ../../../index.pug

include ../../../components/header/header.pug
include ../../../components/benefits/benefits.pug
include ../../../components/review/review.pug
include ../../../components/bullet-list/bullet-list.pug
include ../../../components/reservation/reservation.pug
include ../../../components/footer/footer.pug

block variables 
  -
    const keywords_and_description = {
        keywords: 'Toxin, Room details',
        description: 'Toxin - Лучшие номера для вашей работы, отдыха и просто вдохновения. UI-kit - набор компонентов.'
    }

block title
  title Room details
block content 
  header.container 
    +header({login: "no-login"}) 
  main
    section.room-photo
      img(class="room-photo__photo_max" src=require("./images/photo01.jpg") alt="большая спальня" data-fancybox='gallery')
      .room-photo__additional-photo
        img(class="room-photo__photo_min" src=require("./images/photo02.jpg") alt="малая спальня" data-fancybox='gallery')
        img(class="room-photo__photo_min" src=require("./images/photo03.jpg") alt="гостинная" data-fancybox='gallery')
    section.container 
      .room-details 
        article.information-about-room 
          h2.information-about-room__title Сведения о номере
          .information-about-room__comfort
            +benefit({image: "insert_emoticon.jpg", alt: "image smiile", title: "Комфорт", description: "Шумопоглощающие стены"})
          .delimiter
          .information-about-room__conveniences
            +benefit({modifier: "conveniences", image: "location_city.jpg", alt: "image city", title: "Удобство", description: "Окно в каждой из спален"}) 
          .delimiter
          .information-about-room__cosiness
            +benefit({modifier: "cosiness", image: "cosiness.jpg", alt: "image burn", title: "Уют", description: "Номер оснащён камином"})
        article.room-impressions
          h2.room-impressions__title Впечатления от номера
          .doughnut-diagramm-wrapper.js-doughnut-diagramm-wrapper

        article.room-review 
          .room-review__title
            h2.room-review__title-text Отзывы посетителей номера
            p.room-review__quantity-reviews 2 отзыва
          .room-review__inner
            +room-review(['avatar1.jpg', 12, 'active', 'Мурад Сарафанов', '5 дней назад', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.']) 
          .room-review__inner
            +room-review(['avatar2.jpg', 2, 'no_activ', 'Патрисия Стёклышкова', 'Неделю назад', 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент']) 
        article.room-rules
          h2.room-rules__title Правила
          +bullet-list("Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00")
        article.cancel-room
          h2.cancel-room__title Отмена
          p.cancel-room__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
      +reservation()
  footer.container
    +footer()