extends ../../../index.pug

include ../../../components/header/header.pug
include ../../../components/benefits/benefits.pug
include ../../../components/revew/revew.pug
include ../../../components/bullet-list/bullet-list.pug
include ../../../components/reservation/reservation.pug
include ../../../components/footer/footer.pug

block variables 
  -
    const keywords_and_description = {
        keywords: 'Toxin, Room details',
        description: 'Toxin - Лучшие номера для вашей работы, отдыха и просто вдохновения. UI-kit - набор компонентов.'
    }

block title
  title Room details
block content 
  header.container
    +header({type: 'no-login'}) 
  main
    section.room-photo
      img(class="room-photo__main-photo" src=require("./images/photo01.jpg") alt="большая спальня")
      .room-photo__additional-photo
        img(src=require("./images/photo02.jpg") alt="малая спальня")
        img(src=require("./images/photo03.jpg") alt="гостинная")
    section.container 
      .room-details 
        article.information-about-room 
          h2 Сведения о номере
          +benefit-comfort()
          .delimiter
          +benefit-conveniences()
          .delimiter
          +benefit-whatshot()
        article.room-impressions
          h2 Впечатления от номера
          figure
            .figure-content.js-figure-content
              svg.donut.js-donut(width='100%' height='100%' viewBox='0 0 42 42' aria-labelledby='beers-title beers-description' role='img')
                title#beers-title Впечатления от номера
                desc#beers-description
                  | Диаграмма показывающая какие отзывы оставляли пользователи
                circle.donut-hole(cx='21' cy='21' r='15.91549430918954' fill='#fff' role='presentation') 
                circle.donut-ring(cx='21' cy='21' r='15.91549430918954' fill='transparent' stroke='#fff' stroke-width='1' role='presentation')                

            figcaption.figure-key
              p.screenreader-only
                | Donut chart showing 10 total beers. Two beers are Imperial India Pale Ales, four beers are Belgian Quadrupels, and three are Russian Imperial Stouts. The last remaining beer is unlabeled.
              ul.figure-key__list(aria-hidden='true' role='presentation')
                li
                  span.figure-key__shape-circle.shape-fuschia
                  |  Великолепно
                li
                  span.figure-key__shape-circle.shape-lemon-lime
                  |  Хорошо
                li
                  span.figure-key__shape-circle.shape-blue
                  |  Удовлетворительно
                li
                  span.figure-key__shape-circle.shape-dark
                  |  Разочарован
        article.room-revew 
          h2 Отзывы посетителей номера
          +room-revew(['avatar1.jpg', 12, 'active', 'Мурад Сарафанов', '5 дней назад', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.']) 
          +room-revew(['avatar2.jpg', 2, 'no_activ', 'Патрисия Стёклышкова', 'Неделю назад', 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент']) 
        article.room-rules
          h2 Правила
          +bullet-list("Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00")
        article.cancel-room
          .cancel-room__title
            h2 Отмена
          .cancel-room__text
            p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
      +reservation()
  footer.container
    +footer()