extends ../../../index.pug

include ../../../components/header/header.pug
include ../../../components/calendar/calendar.pug
include ../../../components/list-of-options/list-of-options.pug
include ../../../components/range-slider/range-slider.pug
include ../../../components/checkbox-list/checkbox-list.pug
include ../../../components/room-card/room-card.pug
include ../../../components/pagination/pagination.pug
include ../../../components/footer/footer.pug

block variables 
  -
    const keywords_and_description = {
        keywords: 'Toxin, Search room',
        description: 'Toxin - Лучшие номера для вашей работы, отдыха и просто вдохновения. UI-kit - набор компонентов.'
    }

block title
  title Registration
block content  
  -
    defaultMenu = [
      {text: "О нас", href: "/about"},
      {text: "Услуги", href: "not_filled", dropdownItems: [
        {text: "Подбор жлья", href: "not_filled"},
        {text: "Размщение", href: "not_filled"},
      ]},
      {text: "Вакансии", href: "not_filled"},
      {text: "Новости", href: "/news"},
      {text: "Соглашения", href: "not_filled", dropdownItems: [
        {text: "Для арендодателя", href: "not_filled"},
        {text: "Для арендатора", href: "not_filled"},
      ]},
    ]

  header.container 
    +header({login: "no-login", menu: defaultMenu})
  main.container
    input#filter-menu.container__checkbox(type='checkbox')
    label.filter-button(for='filter-menu')
      span.container__button
        span.container__button-line
        span.container__button-line
        span.container__button-line
      span.filter-button__text-button фильтр
    section.search-filter
      .date-visit 
        h3.date-visit__title даты пребывания в отеле
        +date-filter(['19 авг - 23 авг'])
      .guests 
        h3.guests__title гости
        +list-of-options(['list-of-options_with-buttons', '2', '1', '1', '3 гостя, 1 младенец'])
      .price-range 
        +range-slider('диапазон цены')
        p.price-range__description Стоимость за сутки пребывания в номере
      .house-rules
        h3.house-rules__title правила дома
        +checkbox({text: "Можно курить", condition: "no", name: "smocking"})
        +checkbox({text: "Можно с питомцами", condition: "checked", name: "pet"})
        +checkbox({text: "Можно пригласить гостей (до 10 человек)", condition: "checked", name: "guests"})
      .accessibility
        h3.accessibility__title доступность
        +checkbox({modifier: "rich", title: "Широкий коридор", description: "Ширина коридоров в номере не менее 91 см.", condition: "unchecked", name: "wild-hollway"})
        +checkbox({modifier: "rich", title: "Помощник для инвалидов", description: "На 1 этаже вас встретит специалист  и проводит до номера.", condition: "unchecked", name: "assistance-disabled"})
      .room-amenities 
        h3.room-amenities__title удобства номера
        +list-of-options(["list-of-options", "2", "1", "1", "2 спальни, 2 кровати..."])
      .additional-amenities 
        +checkbox-list({placeholder: "дополнительные удобства"})
    section.rooms-list
      h1.rooms-list__title Номера, которые мы для вас подобрали
      .room-cards 
        +room-card(['888', '9 990₽', ' люкс', 5, '145 ', 'im1.jpg', 'im2.jpg', 'im3.jpg', 'im4.jpg'])
        +room-card(['840', '9 990₽', '', 4, '65 ', 'im2.jpg', 'im6.jpg', 'im7.jpg', 'im8.jpg'])
        +room-card(['980', '8 500₽', ' люкс', 3, '35 ', 'im3.jpg', 'im4.jpg', 'im5.jpg', 'im6.jpg'])
        +room-card(['856', '7 300₽', '', 5, '19 ', 'im4.jpg', 'im5.jpg', 'im6.jpg', 'im7.jpg'])
        +room-card(['740', '6 000₽', '', 4, '44 ', 'im5.jpg', 'im6.jpg', 'im7.jpg', 'im8.jpg'])
        +room-card(['982', '5 800₽', '', 3, '56 ', 'im6.jpg', 'im7.jpg', 'im8.jpg', 'im9.jpg'])
        +room-card(['678', '5 500₽', '', 5, '45 ', 'im7.jpg', 'im8.jpg', 'im9.jpg', 'im10.jpg'])
        +room-card(['450', '5 300₽', '', 4, '39 ', 'im8.jpg', 'im9.jpg', 'im10.jpg', 'im11.jpg'])
        +room-card(['350', '5 000₽', '', 3, '77 ', 'im9.jpg', 'im10.jpg', 'im11.jpg', 'im12.jpg'])
        +room-card(['666', '5 000₽', '', 5, '25 ', 'im10.jpg', 'im11.jpg', 'im12.jpg', 'im1.jpg'])
        +room-card(['444', '5 000₽', '', 3, '15 ', 'im11.jpg', 'im12.jpg', 'im1.jpg', 'im2.jpg'])
        +room-card(['352', '5 000₽', '', 3, '55 ', 'im12.jpg', 'im1.jpg', 'im2.jpg', 'im3.jpg'])
      .rooms-list__pagination
        +pagination()
  footer.container
    +footer()