mixin subscription(id_class_placeholder)
  label.text-field_subscription-label
    input(id=id_class_placeholder.id class='text-field ' + id_class_placeholder.class placeholder=id_class_placeholder.placeholder)
    .subscription-arrow
      span.material-icons arrow_forward
      