.text-field_subscription::placeholder {
  color: $dark-shade-25;
  text-overflow: ellipsis;
  font-family: 'Montserrat';
}

.text-field-label {
  position: relative;

  &__inner {
    position: absolute;
    top: -0.1875rem;
    right: 0.625rem;
  }

  &__icons-arrow {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    background: -webkit-linear-gradient(#BC9CFF, #8BA4F9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
  }
}