mixin subscription(options)
  label.text-field-label
    input(id=options.id class='text-field text-field_subscription' type="email" placeholder=options.placeholder)
    span.text-field-label__inner
      span.text-field-label__icons-arrow arrow_forward
      