mixin like-button([counter, condition])
  if condition == 'active'
    .container-like-button.container-like-button_active
      .icon-heart_active
      .counter-likes.counter-likes_active=counter 
  else 
    .container-like-button 
      .icon-heart
        .icon-heart-before
          .icon-heart-cirkle-white2
        .icon-heart-after
          .icon-heart-cirkle-white
        .icon-heart_cube-white
        .icon-heart_cube-white2
      .counter-likes=counter 
