include ./_active/like-button_active.pug

mixin like-button([counter, condition])
  if condition == 'active'
    +like-button_active([counter])
  else 
    .like-button 
      .like-button__icon-heart
        .like-button__icon-heart-right-semicircle
          .like-button__icon-heart-right-white-semicircular-space
        .like-button__icon-heart-left-semicircle
          .like-button__icon-heart-left-white-semicircular-space
        .like-button__icon-heart-left-white-cube-space
        .like-button__icon-heart-right-white-cube-space
      .like-button__counter-likes=counter 
