@import '../../styles/font.scss';
@import '../../styles/variables.scss';

@import './_active/like-button_active.scss'; 

.like-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 2.375rem;
  height: 1.125rem;
  font-size: 10px;
  color: $dark-shade-25;
  border: 0.0625rem solid;
  border-radius: 1rem;
  border-color: $dark-shade-25;

  &__icon-heart {
    width: 0.3125rem; 
    height: 0.3125rem;
    margin-left: 0.4375rem;
    margin-top: 0.125rem;
    background-color: #d3d4e9; 
    transform: rotate(45deg);
    position: relative;
  }

  &__icon-heart-right-semicircle {
    top: -0.1875rem;
    left: 0px;
  }

  &__icon-heart-left-semicircle {
    top: 00px;
    left: -0.1875rem;
  }

  &__icon-heart-left-semicircle {
    top: 00px;
    left: -0.1875rem;
  }

  &__icon-heart-right-semicircle,
  &__icon-heart-left-semicircle {
    position: absolute;
    content : ''; 
    display: block;
    width: 0.3125rem;
    height: 0.3125rem;
    background-color: #d3d4e9;
    border-radius: 50%;
    position: absolute;
  }

  &__icon-heart-right-white-semicircular-space {
    margin: 0.0625rem;
    content : ''; 
    display: block;
    width: 0.1875rem;
    height: 0.1875rem;
    background-color: white;
    border-radius: 50%;
  }

  &__icon-heart-left-white-semicircular-space {
    margin: 0.0625rem;
    content : ''; 
    display: block;
    width: 0.3125rem;
    height: 0.1875rem;
    background-color: white;
    border-radius: 50%;
  }

  &__icon-heart-left-white-cube-space {
    margin: 0.0625rem 0.0625rem 0.00rem 0.00rem;
    width: 0.25rem; 
    height: 0.1875rem;
    background-color: white; 
    position: absolute;
  }

  &__icon-heart-right-white-cube-space {
    margin: 0.0rem 0.0rem 0.0625rem 0.0625rem;
    width: 0.1875rem; 
    height: 0.1875rem;
    background-color: white; 
    position: absolute;
  }

  &__counter-likes {
    margin-right: 0.625rem;
  }
}