mixin range-slider()
  .container-range-slider 
    .range-slideer__header
      h3 Range Slider 
      .range-slideer__interval 5 000₽ - 10 000₽
    .range-slider__slider
      .range-slider__background-line 
      .range-slider__line-for-hover
        .range-slider__left-point 
        .range-slider__right-point 
      