mixin range-slider(placeholder)
  .range-slider.js-range-slider
    .range-slideer__header
      if placeholder
        h3(class="range-slider__title")=placeholder 
      else 
        h3.range-slider__title Range Slider
      .range-slideer__interval.js-range-slideer__interval 5 000₽ - 10 000₽
    .range-slider__slider
      .range-slider__background-line 
      .range-slider__line-for-hover.js-range-slider__line-for-hover
        .range-slider__left-point.js-range-slider__left-point 
        .range-slider__right-point.js-range-slider__right-point
      