$dark-shade-100: #1F2041;
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-10: rgba(31, 32, 65, 0.1);
$dark-shade-5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;

@import 'font.scss';
$mainFont: 'Montserrat', 'Quicksand', Arial, sans-serif;
$font-size: 14px;
$font-weight-normal: 400;
$font-weight-bold: 700;

@mixin border-input-default {
  border: 1px solid $dark-shade-25;
  border-radius: 0.3rem;
}

@mixin border-input-focus {
  outline: none;
  color: $dark-shade-75;
}


body {
  box-sizing: border-box;
  font-family: $mainFont;
  font-weight: $font-weight-normal;
  font-size: $font-size;
  
}

h1,
h2,
h3 {
  color: $dark-shade-100;
  margin: 0;
    
}

h1 {
  font-size: 24px;
  letter-spacing: 0.014rem;
}

h2 {
  font-size: 19px;
  letter-spacing: 0.012rem;
}

h3 {
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.005rem;
}

p {
  color: $dark-shade-75;
}

p .uppercase {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.005rem;
}
