include ../checkbox/checkbox.pug

mixin checkbox-list(options)
  -
    options = options || {};
    placeholder = options.placeholder || "Default placeholder";
    defaultCheckbox = [
      {text: "Завтрак", condition: "unchecked", name: "eat"},
      {text: "Письменный стол", condition: "checked", name: "table"},
      {text: "Стул для кормления", condition: "checked", name: "name"},
      {text: "Кроватка", condition: "checked", name: "name"},
      {text: "Телевизор", condition: "unchecked", name: "tv"},
      {text: "Шампунь", condition: "unchecked", name: "name"},
      {text: "Телевизор", condition: "unchecked", name: "tv"},
      {text: "Шампунь", condition: "unchecked", name: "name"},
    ]
    checkboxList = options.checkboxList || defaultCheckbox;

  .checkbox-list 
    .checkbox-list__dropdown-button.js-checkbox-list__dropdown-button
      .checkbox-list__arrow.checkbox-list__arrow_down.js-checkbox-list__arrow_down
      .checkbox-list__arrow.checkbox-list__arrow_up.js-checkbox-list__arrow_up.js-checkbox-elements__invisible
      p.checkbox-list__placeholder= placeholder
    .checkbox-list__elements.js-checkbox-list__elements.js-checkbox-elements__invisible
      each item in checkboxList
       +checkbox({text: item.text, condition: item.condition, name: item.name})
      