include ./rich-checkbox/rich-checkbox

mixin checkbox([text, checked, name])
  - var text = (text) ? text : "Checkbox";
  - var name = (name) ? name : "name";

  label.checkbox-container
    | #{text}
    if checked == 'checked' 
      input(type='checkbox' checked='checked' name=name)
      .checkbox-container__checkmark
      span.checkbox-container__checkmark-inner
    else
      input(type='checkbox' name=name)
      .checkbox-container__checkmark
      span.checkbox-container__checkmark-inner
      


mixin checkbox-list(text_placeholder)
  - var placeholder = (text_placeholder) ? text_placeholder : "Default placeholder";

  .checkbox-list 
    .checkbox-list__dropdown-button.js-checkbox-list__dropdown-button
      .checkbox-list__arrow.checkbox-list__arrow_down.js-checkbox-list__arrow_down
      .checkbox-list__arrow.checkbox-list__arrow_up.js-checkbox-list__arrow_up.js-checkbox-elements__inviseble
      p.checkbox-list__placeholder #{text_placeholder}
    .checkbox-list__elements.js-checkbox-list__elements.js-checkbox-elements__inviseble
      +checkbox(['Завтрак', 'unchecked', 'radio'])
      +checkbox(['Письменный стол', 'checked', 'radio'])
      +checkbox(['Стул для кормления', 'checked', 'radio'])
      +checkbox(['Кроватка', 'checked', 'radio'])
      +checkbox(['Телевизор', 'unchecked', 'radio'])
      +checkbox(['Шампунь', 'unchecked', 'radio'])
      +checkbox(['Телевизор', 'unchecked', 'radio'])
      +checkbox(['Шампунь', 'unchecked', 'radio'])