mixin radio-button(options)
  -
    options = options || {};
    text = options.text || "radio button";
    name = options.name || "name";
    checked = options.checked || "checked";

  label.radio-button=text
    if checked == 'checked'
      input.radio-button__input(type='radio' checked='checked' name=name)
      span.radio-button__checkmark 
    else 
      input.radio-button__input(type='radio' name=name)
      span.radio-button__checkmark 