.radio-button {
  display: block;
  position: relative;
  padding-left: 1.75rem;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: -0.05rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  
.radio-button__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-button__checkmark {
  position: absolute;
  top: 0rem;
  left: 0rem;
  height: 1.07rem;
  width: 1.07rem;
  background-color: white;
  border: 1px solid;
  border-color: rgba(31, 32, 65, 0.25);
  border-radius: 50%;
}
  
.radio-button__input:checked + .radio-button__checkmark {
  position: absolute;
  top: 0rem;
  left: 0rem;
  height: 1.07rem;
  width: 1.07rem;
  background-color: white;
  border: 1px solid;    
  border-color: $purple;
  border-radius: 50%;
}
  
.radio-button__input:checked ~ .radio-button__checkmark {
  background-color: white;
}
  
.radio-button__checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 0.13rem;
  left: 0.18rem;
  width: 0.77rem;
  height: 0.77rem;
  border-radius: 50%;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
  
.radio-button__input:checked ~ .radio-button__checkmark:after {
  display: block;
}
