extends ../../../index.pug

include ../../../components/header/header.pug
include ../../../components/login/login.pug
include ../../../components/footer/footer.pug

block variables 
  -
    const keywords_and_description = {
        keywords: 'Toxin, Registration',
        description: 'Toxin - Лучшие номера для вашей работы, отдыха и просто вдохновения. UI-kit - набор компонентов.'
    }

block title
  title Registration
block content  
  -
    loginMenu = [
      {text: "О нас", href: "/about"},
      {text: "Услуги", href: "not_filled", dropdownItems: [
        {text: "Подбор жлья", href: "not_filled"},
        {text: "Размщение", href: "not_filled"},
      ]},
      {text: "Вакансии", href: "not_filled"},
      {text: "Новости", href: "/news"},
      {text: "Соглашения", href: "not_filled", dropdownItems: [
        {text: "Для арендодателя", href: "not_filled"},
        {text: "Для арендатора", href: "not_filled"},
      ]},
    ]

  header.container
    +header({login: 'no-login', menu: loginMenu})
  main
    .container
      +login()
  footer.container
    +footer()