@import '../dropdown/dropdown.scss';


.date-range {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.last-date,
.first-date {
  width: 100%;
  max-width: 9.35rem;
}

.date-filter,
#datein,
#dateout {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 2.7rem;
  margin: 0rem;
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.04em;
  @include border-input-default;
}

.date-filter_label {
  position: relative;
}

.date-filter_label::after {
  position: absolute;
  content: " ";
  border: solid $dark-shade-50;
  border-width: 0 2px 2px 0;
  display: inline-block;
  float: right;
  padding: 0.21rem;
  top: 0.23rem;
  right: 1.05rem;
  transform: rotate(45deg); 
}

.first-date,
.last-date  {
  display: block;
}

.first-date__title,
.last-date__title {
  margin-bottom: 0.3rem;
}

















/* месяцы и годы */
.dropdown-js__month-calendar{
  width: 19.8rem;
  display: inline-block;
  position: absolute;
  margin-top: 0.2rem;
  background: white;
  z-index: 1;
  border: 0.1rem solid;
  border-color: $dark-shade-25;
  border-radius: 0.24rem;
  left: 0rem;
}

.dropdown-js__month-calendar.dropdown-js__inviseble {
  opacity: 0;
}

.calendar__month{
  box-sizing: border-box;
  margin: 0;
  padding: 0rem 1.2rem 0rem;
  text-align: center;
  width: 100%;
  color: $dark-shade-100;
  list-style: none;
}

.calendar__month li{
  padding: 0;
  margin: 0;
  font-size: 19px;
  line-height: 1.4;
  text-transform: capitalize;
  font-weight: 700;
}

.calendar__prev,
.calendar__next{
  cursor: pointer;
}

.calendar__prev{
  float: left;
}

.calendar__text {
  margin-left: 1.7rem;
}

.calendar__arrow-next,
.calendar__arrow-prev {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: $purple;
}

.calendar__next{
    float: right;
}

.calendar__year-name{
    margin-left: 0.4rem;
}

/* дни недели */
.calendar__weekdays{
    margin: 2.7rem 1.2rem 0.2rem 1.2rem;
    padding: 0rem;
    color: $purple;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    font-size: 12px;
}

.calendar__weekdays li{
    display: inline-block;
    flex: 0 0 calc(100% / 7);
    text-align: center;
}

/* дни */
.calendar__days{
    box-sizing: border-box;
    margin: 0rem;
    padding: 0.5rem 1.15rem 0rem 1.18rem ;
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-start;

}

.calendar__day {
  box-sizing: border-box;
  padding: 0.785rem 0rem;
  list-style: none;
  display: inline-block;
  flex: 0 0 calc(100% / 7);
  text-align: center;
  color: $dark-shade-50;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}

.calendar__day-prev-month,
.calendar__day-next-month {
  box-sizing: border-box;
  padding: 0.785rem 0rem;
  list-style: none;
  display: inline-block;
  flex: 0 0 calc(100% / 7);
  text-align: center;
  color: $dark-shade-25;
  font-size: 12px;
  line-height: 15px;
}

.calendar__date-now {
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.calendar__day-another-month {
  color: $dark-shade-25;
}

.calendar__insert-day {
  position: relative;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.calendar__insert-day_first-insert:after {
  content: "";
  position: absolute;
  top: 0rem;
  left: 1.5rem;
  width: 1rem;
  height: 2.5rem;
  opacity: 0.25;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.calendar__insert-day_last-insert:before {
    content: "";
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 1.75rem;
    height: 2.5rem;
    opacity: 0.25;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }

.calendar__selected-interval {
  position: relative;
}

.calendar__selected-interval:before{
  content: "";
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.25;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.calendar__buttons-block {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 1.3rem;
  padding: 0rem 1.2rem 0.4rem;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: $purple;
  li {
    list-style: none;
    letter-spacing: 0rem;
  }
}
