.container-button {
  position: relative;
}
  
.container-button:hover .button{
  opacity: 0.5;  
}
  
.button_header-white  {
  display: flex;
  justify-content: center;
  align-items: center;    
  padding: 0rem;
  width: 5.4rem;
  height: 2.1rem;
  border: none;
  border-radius: 1.4rem;
  font-family: $mainFont;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  cursor: pointer;
}
  
.button__content {
  width: 5.17rem;
  height: 1.82rem;
  border-radius: 1.5rem;
  background: white;
  line-height: 1.8rem;
  color: $purple;
}
  
.button__text {
  position: absolute;
  top: 0.9rem;
  left: 1.15rem;
  font-family: $mainFont;
  font-size: 12px;
  font-weight: 700;
  color: $purple;
  text-transform: uppercase;
  cursor: pointer;
}
  
  