/* месяцы и годы */
.dropdown-js__month-calendar{
    width: 300px;
    display: inline-block;
    position: absolute;
}

.dropdown-js__month-calendar.dropdown-js__inviseble {
    opacity: 0;
}

.month{
    box-sizing: border-box;
    margin: 0;
    padding: 3rem 2rem 2rem;
    text-align: center;
    width: 100%;
    color: $dark-shade-100;
    list-style: none;
}

.month li{
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.4;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.month li.prev,
.month li.next{
    cursor: pointer;
}

.month li.prev{
    float: left;
}
.fa-angle-double-left:before {
    content: "<";
    color: $purple;
}
.fa-angle-double-right:before {
    content: ">";
    color: $purple;
}

.month li.next{
    float: right;
}

.month li.year-name{
    font-size: 1.2rem;
    font-weight: 400;
}

/* дни недели */
.weekdays{
    margin: 0;
    padding: 1rem 0;
    color: $purple;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
}

.weekdays li{
    display: inline-block;
    flex: 0 0 calc(100% / 7);
    text-align: center;
}

/* дни */
.days{
    box-sizing: border-box;
    margin: 0;
    padding: 1rem 0;
    background-color: #eeeeee;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-start;
    height: 14rem;
}

.days li {
    box-sizing: border-box;
    padding: 0.5rem;
    list-style: none;
    display: inline-block;
    flex: 0 0 calc(100% / 7);
    text-align: center;
    color: $dark-shade-50;
    font-size: 0.9rem;
    line-height: 1rem;
}

.days li.date-now {
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.insert-day {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
