mixin calendar()
  .dropdown-js__month-calendar.dropdown-js__inviseble
    ul.calendar__month
      li.calendar__prev
        span.calendar__arrow-prev arrow_back
      li.calendar__next
        span.calendar__arrow-next arrow_forward
      li.calendar__text
        p
          span.calendar__month-name 
          span.calendar__year-name
    ul.calendar__weekdays
      li Пн
      li Вт
      li Ср
      li Чт
      li Пт
      li Сб
      li Вс
    ul.calendar__days
    ul.calendar__buttons-block 
      li.calendar__button_cancel Очистить
      li.calendar__button_apply Применить