@import '../calendar/calendar.scss';
@import '../list-of-options/list-of-options.scss';
@import '../button/button.scss';

.reservation {
  max-width: 30rem;
  min-width: 19.2rem;
  margin-top: 0.4rem;
  margin-left: 0.25rem;
  padding: 2.5rem 1.85rem 1.85rem 1.7rem;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 29%);
  border-radius: 4px;
}

@media (max-width: 750px) {
  .reservation {
    margin-left: 0rem; 
    padding: 2.5rem 0.7rem 1.85rem 0.7rem;
  }
}

@media (max-width: 400px) {
  .reservation {  
    margin-left: 0rem; 
    padding: 2.5rem 0.2rem 1.85rem 0.2rem;
  }
}

.reservation__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.reservation__room-number {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.reservation__symbol-number {
  margin-left: 0.1rem;
  margin-right: 0.4rem;
}

.reservation__value-number {
  font-size: 24px;
  font-weight: 700;
}

.reseruation__luxury {
  margin: 0rem 0rem 0rem 0.5rem;
  color: $purple;
  font-weight: 700;
}

.reservation__room-price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 12px;
  margin: 0.4rem 0rem 0rem;
}

.reservation__price-per-day {
  font-size: 14px;
  margin-right: 0.4rem;
}

.reservation__date-in-out {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 1.2rem;
  padding-left: 0.1rem;
}

.reservation__guests {
  margin-top: 1.3rem;
  padding-left: 0.1rem;
}

.reservation__title-guests {
  margin-bottom: 0.3rem;
}

.reservation__price-calculation {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1.4rem;
  padding-left: 0.1rem;
}

.row-with-price {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.row-with-price__description {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex-basis: 75%;
}

.row-with-price__text, 
.row-with-price__numbers,
.row-with-price__calculation-result {
  margin: 0rem;
  line-height: 1.1rem;
}

.row-with-price__quantity-days {
  margin-right: 0.3rem;
}

.reservation__info_about_service {
  width: 1rem;
  height: 1rem;
  border: 0.1rem solid;
  border-color: $dark-shade-25;
  border-radius: 50%;
  color: $dark-shade-25;
  text-align: center;
}

.reservation__total {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 0.8rem;
  padding-left: 0.15rem;
}

.reservation__button-reservation {
  padding-left: 0.1rem;
  margin-top: 1.35rem;
}