include ../like/like.pug

mixin room-revew([avatar, count_like, active_like, name_revewer, last_date, text_revew])
  - let path= './images/' + avatar;
  
  .revew
    .revew__left-part
      img.revew__avatar-reviewer(src=require('./images/' + avatar) alt="avatar")
      .revew__like-button
        +like-button([count_like, active_like])
    .revew__right-part
      .revew__name-reviewer=name_revewer
      .revew__last-update=last_date
      .revew__revew-body=text_revew