.button_header-standart {
    width: 12.23rem;
    height: 2.122rem;
    border: none;
    border-radius: 1.4rem;
    font-family: $mainFont;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    cursor: pointer;
}

.button:hover {
    opacity: 0.5;
}