@import '../button/button.scss';

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}

.header__text-logo {
  padding-top: 0.82rem;
  padding-left: 0.75rem;
}

@import '../navigation-link/navigation-link.scss';

.header__navigation,
.header__navigation-link,
.header__login-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 1000px) {
  .header__navigation {
    display: none;
  }
}


   



.header__login-block {
  margin-top: 0.21rem;
}

.header__button-login  {
  margin: 0rem 1.25rem 0rem 1rem;
}

.header__nick-name {
  display: flex;
}

.header__nick-name::before {
  content: "";
  height: 1.7rem;
  margin-top: 0.55rem;
  margin-left: 1rem;
  margin-right: 1.25rem;
  border-left: 0.1rem solid;
  border-color: $dark-shade-25;
}

.header__text-nick-name {
  color: $dark-shade-50;
  font-size: 14px;
}

.header__burger-menu {
  display: none;
  position: relative;
}

@media (max-width: 1000px) {
  .header__burger-menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
}

.header__checkbox {
  display: none;
}
.header__checkbox:checked ~ .wrapper__menu {
  display: flex;
  right: -1rem;
}

.header__checkbox:checked ~ .header__button-line:nth-child(1) {
  transform: rotate(45deg);
  top: 0.45rem;
}
.header__checkbox:checked ~ .header__button-line:nth-child(2) {
  opacity: 0;
}

.header__checkbox:checked ~ .header__button-line:nth-child(3) {
  transform: rotate(-45deg);
  top: -0.55rem;
}

.header__button-burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  cursor: pointer;
  z-index: 1;
}

@media (max-width: 1000px) {
  .header__button-burger-menu button {
    margin-bottom: 1rem;
  }
}

.header__button-line {
  display: block;
  width: 1.5rem;
  height: 0.2rem;
  border-radius: 0.5rem;
  background: white;
  margin: 0.15rem 0;
  position: relative;
  transition: all .2s ;
}

.header__mobile-menu {
  position: absolute;
  top: 0;
  right: -200rem;
  width: 11rem;
  background: white;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 3rem 3rem 3rem;
  transition: right .4s;
  border-bottom-left-radius: 5rem;
}

.header__mobile-menu-link {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2rem;
  color: $dark-shade-50;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 1rem;
  padding: 0.2rem 0.5rem;
  transition: all .2s linear;
}

.header__mobile-menu-link:hover {
  padding-right: 0.5rem;
  color: $dark-shade-75;
}


