include ../navigation-link/navigation-link.pug
include ../button/button.pug

mixin header(options)
  -
    options = options || {};
    valueLogin = options.login || "no-login";
    defaultMenu = [
      {text: "О нас", href: "/about", active: true},
      {text: "Услуги", href: "not_filled", dropdownItems: [
        {text: "Подбор жлья", href: "/about"},
        {text: "Размщение", href: "/about"},
      ]},
      {text: "Вакансии", href: "not_filled"},
      {text: "Новости", href: "/news"},
      {text: "Соглашения", href: "not_filled", dropdownItems: [
        {text: "Для арендодателя", href: "/about"},
        {text: "Для арендатора", href: "/about"},
      ]},
    ]
    menu = options.menu || defaultMenu;
    buttonSingIn = options.singIn || {text: "войти", class:"header-white"};
    buttonSingUp = options.singUp || {text: "зарегистрироваться", class:"header-standard"};
    
    
  .header
    .header__logo 
      .header__image-logo 
        img(src=require("../../../components/header/image/header-logo.jpg"))
      .header__text-logo 
        img(src=require("../../../components/header/image/TOXIN.jpg"))
    nav.header__navigation
      .header__navigation-link
        each val in menu
          +navigation-link(val)
      .header__login-block
      if valueLogin == "no-login"
        .header__button-login
          +button([buttonSingIn.class, buttonSingIn.text])
        +button([buttonSingUp.class, buttonSingUp.text])
      else 
        .header__nick-name
          p.header__text-nick-name Юлий Цезарь
    .header__burger-menu
      input#header__button-burger-menu.header__checkbox(type="checkbox")
      label.header__button-burger-menu(for="header__button-burger-menu")
        span.header__button-line
        span.header__button-line
        span.header__button-line
      nav.header__mobile-menu
        a.header__mobile-menu-link(href="/profile") О нас
        a.header__mobile-menu-link(href="/") Услуги
        a.header__mobile-menu-link(href="/about") Вакансии
        a.header__mobile-menu-link(href="/contacts") Новости
        a.header__mobile-menu-link(href="#") Соглашения
        if valueLogin == "no-login"
          +button([buttonSingIn.class, buttonSingIn.text])
          +button([buttonSingUp.class, buttonSingUp.text])
        else 
          .header__nick-name
            p Юлий Цезарь