@import '../button/button.scss';
@import '../navigation-link/navigation-link.scss';
@import '../burger-menu/burger-menu.scss';

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}

.header__text-logo {
  padding-top: 0.82rem;
  padding-left: 0.75rem;
}

.header__navigation,
.header__navigation-link,
.header__login-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 1000px) {
  .header__navigation {
    display: none;
  }
}

.header__login-block {
  margin-top: 0.21rem;
}

.header__button-login  {
  margin: 0rem 1.25rem 0rem 1rem;
}

.header__nick-name {
  display: flex;
}

.header__nick-name::before {
  content: "";
  height: 1.7rem;
  margin-top: 0.55rem;
  margin-left: 1rem;
  margin-right: 1.25rem;
  border-left: 0.1rem solid;
  border-color: $dark-shade-25;
}

.header__text-nick-name {
  color: $dark-shade-50;
  font-size: 14px;
}

.header__burger-menu {
  display: none;
}

@media (max-width: 1000px) {
  .header__burger-menu {
    display: block;
  }
}


