@import '../../../styles/font.scss';
@import '../../../styles/variables.scss';

@import '../../../components/header-for-ui-kit/header-for-ui-kit.scss';
@import '../../../components/rooms-search/rooms-search.scss';
@import '../../../components/registration/registration.scss';
@import '../../../components/reservation/reservation.scss';
@import '../../../components/login/login.scss';
@import '../../../components/room-card/room-card.scss';
@import '../../../components/calendar/calendar.scss';


.content-cards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 2.5rem 17rem 0rem 8.25rem;
}

.content-cards__first-column {
  flex-basis: 32.5%;
  margin-top: 0.3875rem;
  margin-left: 0.0625rem
}

.content-cards__second-column {
  flex-basis: 32.8%;
}

.rooms-search {
    margin-bottom: 2.5625rem;
}

.content-cards__block-login {
  margin-top: 2.4375rem;

  .login {
    padding-top: 0.0625rem;
  }
}

.content-cards__third-column {
  flex-basis: 28%;
}

.dropdown-js__calendar_filter {
  margin-top: 0.25rem;
  margin-left: 0.125rem;
}

.dropdown-js__month-calendar {
  position: relative;
}

#dropdown-js__calendar_filter {
  display: none;
}

.room-cards {
  padding-left: 0.125rem;
  width: 82.9%;
  margin-top: 2.5rem;
}

.room-card  {
  margin-bottom: 3.375rem;
}