include ./_rich/checkbox_rich.pug

mixin checkbox(options)
  -
    options = options || {};
    text = options.text || "Checkbox";
    condition = options.condition || "checked";
    name = options.name || "name";
    modifier = options.modifier || "none";

  if modifier == "none"
    label.checkbox-container=text
      | 
      if condition == "checked"
        input(type="checkbox" checked name=name)
      else 
        input(type="checkbox" name=name)
      .checkbox-container__checkmark
      .checkbox-container__checkmark-inner
  else 
    +checkbox_rich(options)