@import '../text-field/text-field.scss';

.footer-top {
  display: flex;
  padding-bottom: 6.3125rem;
  justify-content: space-between;

  @media (max-width: 1000px) {
    flex-flow: row wrap;
    justify-content: center;
  }

  @media (max-width: 768px) {
    display: none;
  }

  &__brent {
    display: flex;
    flex-flow: column nowrap;
    max-width: 23.5%;

    @media (max-width: 1000px) {
      order: -1;
      width: 40%;
      max-width: none;
      padding-right: 3rem; 
    }
  }

  &__logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    max-width: 6.625rem;
  }

  &__text-logo {
    padding-top: 0.8125rem;
    padding-left: 0.125rem;
  }

  &__text-title  {
    margin-top: 0.8125rem;
    font-size: 14px;
    color: $dark-shade-75;
    line-height: 1.5rem;
  }

  &__section-navigation {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 0.3125rem;
    width: 14.90%;

    @media (max-width: 1000px) {
      margin-top: 5rem;
      width: 33%;
    }
  }

  &__title-section {
    font-size: 11px;
    margin-bottom: 0.75rem;
    letter-spacing: 0.055rem;
  }

  &__link {
    text-decoration: none;
    font-size: 13px;
    color: $dark-shade-50;
    line-height: 2.37rem;
    letter-spacing: 0.04rem;
  }

  &__subscription {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 0.25rem;
    max-width: 16.25rem;

    @media (max-width: 1000px) {
      order: -1;
      width: 40%;
      max-width: none;
      padding-right: 3rem;
    }
  }

  &__description-subscription {
    margin: 0.4375rem 0rem 0rem 0rem;
    line-height: 1.5rem;
    font-size: 14px;
    color: $dark-shade-75;
  }

  &__text-field {
    margin-top: 1.4375rem;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__logo {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: center;
      max-width: 6.625rem;
    }
  }

  @media (max-width: 768px) {
    &__text-logo {
      padding-top: 0.8125rem;
      margin-left: 0.75rem;
    }
  }

  @media (max-width: 410px) {
    &__text-copyright{
      text-align: center;
    }
  }

  &__socials {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-right: 0.0625rem;

    @media (max-width: 768px) { 
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin-right: 0.0rem;
      padding-right: 1.375rem;
    }
  }

  &__image {
    width: 1.375rem;  
    height: 1.375rem;
    margin-top: 0.8125rem;
    margin-left: 1.375rem;
  }

  &__text-copyright {
    margin-top: 1rem;
  }
}