extends ../../../index.pug

include ../../../components/header-for-ui-kit/header-for-ui-kit.pug
include ../../../components/header/header.pug
include ../../../components/footer/footer.pug

block variables 
  -
    const keywords_and_description = {
        keywords: 'Toxin, UI-kit',
        description: 'Toxin - Лучшие номера для вашей работы, отдыха и просто вдохновения. UI-kit - набор компонентов.'
    }

block title
  title Headers & Footers
block content  
  +header-for-ui-kit()
  .content-headers-footers
    +header({login: "no-login"})
    .header-login
      +header({login: "login"})
    footer  
      +footer()
      .footer_small
        +footer()