@import '../../../styles/font.scss';
@import '../../../styles/variables.scss';
@import '../../../components/header/header.scss';
@import '../../../components/rooms-search/rooms-search.scss';
@import '../../../components/footer/footer.scss';

html, body, main, .landing-page  {
    min-height: 100% !important;
    height: 100%;
}

main { 
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 0.45rem;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
  padding-left: 0;
}

@media (max-width: 1300px) {
  .container {
    padding: 0rem 2rem;
  }
}

@media (max-width: 760px) {
  .container {
    padding: 0rem ;
  }
}

.landing-page {
  flex: 1 0 auto;
  margin-top: 0.7rem;
  background-image: url(./images/image3.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-page .container{
  position: relative;
  height: 100%;
}

.container-rooms-search {
    margin-top: 4.5rem;
    width: 20rem;
}

@media (max-width: 770px) {
  .container-rooms-search {
    margin: 4.5rem auto 0rem auto;
  }
}

.promo-text {
    width: 17rem;
    bottom: 5rem;
    position: absolute;
    right: 0rem;
    text-align: right;
}

footer {
    flex: 0 0 auto;
    padding-top: 6.25rem;
}

