extends ../../../index.pug

include ../../../components/header/header.pug
include ../../../components/rooms-search/rooms-search.pug
include ../../../components/footer/footer.pug

block variables 
  -
    const keywords_and_description = {
        keywords: 'Toxin, Landing Page',
        description: 'Toxin - Лучшие номера для вашей работы, отдыха и просто вдохновения. UI-kit - набор компонентов.'
    }

block title
  title Landing Page
block content 
  header.container
    +header({type: 'no-login'}) 
  main
    section.landing-page.container
      +rooms-search()
      .promo-text
        p Лучшие номера для вашей работы, отдыха и просто вдохновения
  footer.container
    +footer()
    