extends ../../../index.pug

include ../../../components/header/header.pug
include ../../../components/rooms-search/rooms-search.pug
include ../../../components/footer/footer.pug

block variables 
  -
    const keywords_and_description = {
        keywords: 'Toxin, Landing Page',
        description: 'Toxin - Лучшие номера для вашей работы, отдыха и просто вдохновения. UI-kit - набор компонентов.'
    };

block title
  title Landing Page
block content 
  -
    landingMenu = [
      {text: "О нас", href: "/about"},
      {text: "Услуги", href: "not_filled", dropdownItems: [
        {text: "Подбор жлья", href: "not_filled"},
        {text: "Размщение", href: "not_filled"},
      ]},
      {text: "Вакансии", href: "not_filled"},
      {text: "Новости", href: "/news"},
      {text: "Соглашения", href: "not_filled", dropdownItems: [
        {text: "Для арендодателя", href: "not_filled"},
        {text: "Для арендатора", href: "not_filled"},
      ]},
    ]

  header.container
    +header({login: "no-login", menu: landingMenu})
  main
    .slide-first
    .slide-second
    .slide-third
    section.landing-page.container
      +rooms-search()
      .promo-text
        p Лучшие номера для вашей работы, отдыха и просто вдохновения
  footer.container
    +footer()
    