@import '../../styles/font.scss';
@import '../../styles/variables.scss';

.login {
  max-width: 20.0625rem;
  width: 100%;
  margin-top: 0.125rem;
  padding: 0rem 1.875rem 1.9375rem 1.8125rem;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 29%);
  border-radius: 0.25rem;
  background-color: white;

  &__title {
    margin-top: 2.5625rem;
    font-size: 23px;
    letter-spacing: 0.065rem;
  }

  &__email {
    margin-top: 1.3125rem;
  }

  &__password {
    margin-top: 0.625rem;
  }

  &__button-login {
    margin-top: 1.25rem;
    margin-right: 0.0625rem;
  }

  &__button-registration {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 1.75rem;
  }

  &__button-sing-in {
    margin-top: 0.125rem;
    margin-right: 0.0625rem;
    text-decoration: none;
  }
}