include ../button/button.pug
include ../text-field/text-field.pug

mixin login(options)
  -
    optionsForm = options || {};
    methodForm = optionsForm.method || "get";
    actionForm = optionsForm.action || "";
    nameForm = optionsForm.name || "login";

  form.login(method=methodForm action=actionForm name=nameForm) 
    h1.login__title Войти 
    .login__email 
      +text-field({id: "email", type: "email", placeholder: "Email"})
    .login__password 
      +text-field({id: "password", type: "password", placeholder: "Пароль"})
    .login__button-login 
      +button(["big", "войти"])
    .login__button-registration 
      p Нет аккаунта на Toxin?
      a.login__button-sing-in(href="registration.html")
        +button(["white", "создать"])