extends ../../../index.pug

block variables 
  -
    const keywords_and_description = {
        keywords: 'Toxin, UI-kit',
        description: 'Toxin - Лучшие номера для вашей работы, отдыха и просто вдохновения. UI-kit - набор компонентов.'
    }

block title
  title Colors & type 
block content  
  .head-ui-kit 
    img.head-ui-kit__logo(src=require("./images/logo-ui-kit.svg")) 
  .content-ui-kit
    .content-ui-kit__left-block 
      .left-block-item 
        .left-block-item__filled-square
        .left-block-item__text-info
          .left-block-item__color-name 
            h2 Dark Shade 100%
          .left-block-item__color-code
            p #1F2041
      .left-block-item 
        .left-block-item__filled-square
        .left-block-item__text-info
          .left-block-item__color-name 
            h2 Dark Shade 75%
          .left-block-item__color-code
            p #1F2041
      .left-block-item 
        .left-block-item__filled-square
        .left-block-item__text-info
          .left-block-item__color-name 
            h2 Dark Shade 50%
          .left-block-item__color-code
            p #1F2041
      .left-block-item 
        .left-block-item__filled-square
        .left-block-item__text-info
          .left-block-item__color-name 
            h2 Dark Shade 25%
          .left-block-item__color-code
            p #1F2041
      .left-block-item 
        .left-block-item__filled-square
        .left-block-item__text-info
          .left-block-item__color-name 
            h2 Dark Shade 5%
          .left-block-item__color-code
            p #1F2041
      .left-block-item 
        .left-block-item__filled-square
        .left-block-item__text-info
          .left-block-item__color-name 
            h2 Purple
          .left-block-item__color-code
            p #BC9CFF
      .left-block-item 
        .left-block-item__filled-square
        .left-block-item__text-info
          .left-block-item__color-name 
            h2 Green
          .left-block-item__color-code
            p #6FCF97
    .content-ui-kit__right-block  
      .right-block-item 
        .right-block-item__tag 
          h1 H1
        .right-block-item__space
        .right-block-item__text
          h1 This one is the sub-section or widget title
      .right-block-item 
        .right-block-item__tag 
          h2 H2
        .right-block-item__space
        .right-block-item__text
          h2 Next one is the item title inside widgets
      .right-block-item 
        .right-block-item__tag 
          h3 H3
        .right-block-item__space
        .right-block-item__text
          h3 This is a label or CTA text
      .right-block-item 
        .right-block-item__tag 
          p Body
        .right-block-item__space
        .right-block-item__text
          p This is the body text which is used for most of the design, like paragraphs, lists, etc.
        