mixin toggle([text, name, checked])
  - var text = (text) ? text : "Default toggle";
  - var name = (name) ? name : "name";

  .switcher
    label.switch__label
      if checked == "checked"
        input.switch__input(type="checkbox" checked="checked" name=name)
        span.switch__slider 
      else 
        input.switch__input(type="checkbox" name=name)
        span.switch__slider
    .switcher-text=text