@import '../rate-button/rate-button.scss';

.room-card  {
    padding: 0rem 0rem 0rem 0rem;
    border-radius: 0.2rem;
}

.image-slider {
  box-sizing: border-box;
  max-width: 30rem;
  margin: 0rem auto;
  height: 9.45rem;
  position:relative;
}

.image-slider__photo-room {
  display: none;
}

.image-slider__image-room {
  width: 100%;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.image-slider__prev,
.image-slider__next {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0rem;
  width: 17%;
  height: 100%;
  padding: 0rem;
  margin-top: 0rem;
  transition: 0.6s ease;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  user-select: none;
  justify-content: center;
  align-items: center;
}

.image-slider__next {
  right: 0;
  border-radius: 0.2rem 0 0 0.2rem;
}

.image-slider__arrow-left,
.image-slider__arrow-right {
  position: absolute;
  top: 50%;
  transform: translate(42%, -49%);
  color: white;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  text-align: center;
}

.image-slider:hover .image-slider__next,
.image-slider:hover .image-slider__prev {
  display: block;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.7s;
  animation-name: fade;
  animation-duration: 0.7s;
}

.image-slider:hover .image-slider__next {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.image-slider__dots {
  position: absolute;
  bottom: 0.7rem;
  right: 0.8rem;
}

.image-slider__dot {
  cursor: pointer;
  height: 0.45rem;
  width: 0.45rem;
  margin: 0 0.13rem;
  border: 0.12rem solid #FFFFFF;
  border-radius: 50%;
  box-sizing: border-box;
  filter: drop-shadow(0rem 0.25rem 0.25rem rgba(31, 32, 65, 0.3));
  display: inline-block;
  transition: background-color 0.6s ease;
}

.js-image-slider__dot_active, 
.js-image-slider__dot:hover {
  background: #fff;
}

.image-slider__fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.2s;
  animation-name: fade;
  animation-duration: 1.2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.room-card__description {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 1.2rem;
  padding: 0rem 1.1rem 0rem 1.3rem;
}
  
.room-card__room-number {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.room-card__symbol-number {
  font-size: 14px;
  margin-right: 0.2rem;
}

.room-card__value-number {
    font-size: 20px;
    letter-spacing: -0.05rem;
}
  
.room-card__luxury {
  margin: 0.15rem 0rem 0rem 0.6rem;
  color: $purple;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.05rem;
}
  
.room-card__price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.room-card__text-price {
  font-size: 12px;
  margin: 0rem;
}
  
.room-card__price-per-day {
  font-size: 14px;
  font-weight: 700;
}

.room-card__rate {
  margin-top: 1.1rem;
}

.room-card__review{
  margin-top: 1.2rem;
  margin-right: 0.2rem;
  margin-bottom: 0rem;
  font-size: 14px;
}



.room-card__count-reviewers {
  display: inline;
  font-weight: 700;
}
