mixin meta(keywords_description)
  meta(name='keywords' content=keywords_description.keywords)
  meta(name='description' content=keywords_description.description)

block variables

<!DOCTYPE html>
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    +meta(keywords_and_description)
    link(type="image/x-icon" href=require('./images/favicon.svg') rel="shortcut icon")
    link(type="Image/x-icon" href=require('./images/favicon.svg') rel="icon")
    block title
  body
    block content