.wrapper {
  display: flex;
  justify-content: center;
}

.ui-kit,
.pages {
  display: flex;
  flex-flow: column;
  margin-right: 5rem;
}

a {
  color: rgba(31, 32, 65, 0.75);
  font-size: 18px;
  text-decoration: none;
  margin: 0.7rem;
}



body {
  font: 16px/1.4em "Montserrat", Arial, sans-serif;
}
