include ./_subscription/subscription.pug
include ./_date/date.pug

mixin text-field(id_type_class_placeholder)
  if id_type_class_placeholder.class === 'text-field_subscription'
    +subscription(id_type_class_placeholder)
  else if id_type_class_placeholder.type === 'date'
    +date(id_type_class_placeholder)
  else
    input(id=id_type_class_placeholder.id type=id_type_class_placeholder.type class='text-field ' + id_type_class_placeholder.class placeholder=id_type_class_placeholder.placeholder)