mixin navigation-link_dropdown(options)
  -
    options = options || {};
    href = options.href || "not_filled";
    text = options.text || "navigation-link";
    linkClass = (options.active) ? "navigation-link navigation-link_active" : "navigation-link";
    dropdownItems = (options.dropdownItems) ? options.dropdownItems : false;
  
  .navigation-link.navigation-link_dropdown
    p.navigation-link_dropdown__title=text
    .navigation-link_dropdown__arrow_down
    .navigation-link_dropdown__arrow_up
    .navigation-link_dropdown__inner
      each val in dropdownItems
        -
          href = val.href || "not_filled";
          text = val.text || "navigation-link";
          linkClass = (val.active) ? "navigation-link_dropdown__link navigation-link_dropdown__link_active" : "navigation-link_dropdown__link";

        a(class=linkClass href=href)=text