@import '../../styles/font.scss';
@import '../../styles/variables.scss';

@import './_conveniences/benefit_conveniences.scss';
@import './_cosiness/benefit_cosiness.scss';

.benefit {
  display: flex;
  justify-content: space-between;
  max-width: 15.6875rem;
  padding-left: 0.1875rem;

  &__image {
    object-fit: contain;
  }

  &__text {
    margin: 0rem 0rem 0rem 0.875rem;
  }

  &__heading {
    margin: 0.125rem 0rem 0rem;
    font-family: $mainFont;
    color: $dark-shade-75;
    font-size: 14px;
    font-weight: 700;
  }

  &__description {
    margin: 0.4375rem 0rem 0rem 0rem;
  }
}