mixin benefit-comfort()
  .benefit 
    image(src=require('../../../components/benefits/img/insert_emoticon.jpg') class='benefit__image')
    .benefit__text 
      p.benefit__heading Комфорт
      p.benefit__description Шумопоглощающие стены

mixin benefit-conveniences()
  .benefit.benefit_conveniences
    image(src=require('../../../components/benefits/img/location_city.jpg') class='benefit__image')
    .benefit__text.benefit__text_conveniences
      p.benefit__heading Удобство
      p.benefit__description Окно в каждой из спален