@import '../../styles/font.scss';
@import '../../styles/variables.scss';

@import '../text-field/text-field.scss';
@import '../toggle/toggle.scss';
@import '../radio-button/radio-button.scss';
@import '../button/button.scss';

.registration  {
  max-width: 20.0rem;
  width: 100%;
  padding: 2.5rem 1.8125rem 1.5rem 1.875rem;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 29%);
  border-radius: 0.25rem;
  background-color: white;

  &__input-name {
    margin-top: 1.3125rem;
    margin-bottom: 0.625rem;
  }

  &__input-second-name {
    margin-bottom: 0.625rem;
  }

  &__gender {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 68.5%;
  }

  &__birthday {
    margin-top: 1.625rem;
  }

  &__title-birthday {
    margin-bottom: 0.3125rem;
    font-size: 11px;
    letter-spacing: 0.05rem;
  }

  &__login-data {
    margin-top: 1.3125rem;
  }

  &__title-login-data {
    margin-bottom: 0.3125rem;
    font-size: 11px;
    letter-spacing: 0.05rem;
  }

  &__login-data > :nth-child(2) {
    margin-bottom: 0.625rem;
  }

  &__spam-switcher {
    margin-top: 0.625rem;
    margin-bottom: 1.5rem;
  }

  &__login {
    display: flex;
    justify-content: space-between;
    margin-top: 1.75rem;
  }

  &__login-button {
    margin-top: 0.125rem;
    text-decoration: none;
  }
}
